.container {
    margin-top: 18.9rem;
    display: flex;

    .left {
        flex: 0.4;
        width: 100%;
    }
    
    .right {
        flex: 0.6;
        margin-top: 8rem;

        .para1 {
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 3.7rem;
            margin-bottom: 1rem;
            width: 56.2rem;
        }

        .para2 {
            width: 43.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            color: rgba(65, 62, 62, 0.69);
            margin-bottom: 3.2rem;
        }

        .input {
            max-width: 37.8rem;
            height: 4rem;
            outline: none;
            border-right: none;
            border-radius: 10px 0 0px 10px;
            padding-left: 2rem;
            border: 1px solid 
            rgba(0, 0, 0, 0.25);

        }

        button {
            width: 15rem;
            border-radius: 0px 10px 10px 0px;
            border: none;
            height: 4rem;
            background: #EB3030;
            color: #fff;
            font-size: 1.7rem;
            cursor: pointer;
            
            &:hover{
                background: #fc4242;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width:768px){
    .container{
        // width: 150%;
        flex-wrap: wrap;
        margin-bottom: 5rem;
        .right{
            margin-left: 0rem !important;
        }
    }
}
@media screen and (max-width:1024px){
    .container{
        .right{
            margin-left: 15rem;
        }
    }
}
@media screen and (max-width:550px){
    .container{
        // width: 150%;
        flex-wrap: wrap;
        margin-bottom: 5rem;

        .right{
            margin-left: 0rem;
            .para1{
                font-size: 3.5rem;
            }
            .para2{
                font-size: 2.6rem;
                width: 50rem;
                margin-top: 2rem;
            }

            .input{
                font-size: 2rem;
            }
        }
    }
}